<div style="background-image: linear-gradient(to right, transparent, #4f46e5, transparent);margin:15px 0;height:2px;position:relative"></div>
<h3>Contact:</h3>
<p>Email: {{ $.Site.Params.telephone_number  }}</p>
<p>Telephone: {{ $.Site.Params.email_address }}</p>
<p>Address: {{ $.Site.Params.location_address  }}</p>
  <!-- Additional trick: We can add Unicode characters as-is in HTML to render them.-->
  <div style="background-image: linear-gradient(to right, transparent, #4f46e5, transparent);margin:15px 0;height:2px;position:relative"></div>

