<section class="section container-fluid mt-n3 pb-3">
    <span class=""></span>   


<div class="row justify-content-center text-center mt-lg-3 bg-dark text-light py-2  border border-dark">
            <div class="col-lg-5">
                {{ partialCached "footer_one_partial" .}}
            </div>
    
            <div class="col-lg-5 border-left-0 border-light">
                {{ partialCached "footer_one_partial" .}}
            </div>
    
            <div class="col-lg-5">
                {{ partialCached "footer_one_partial" .}}
            </div>
    </div>
</section>  
