<h3>Contact:</h3>
<p>Email: <a style="color: #eeeeee; text-decoration: none;" href="mailto:">{{ $.Site.Params.email_address  }}</a><br>
Telephone: <a style="color: #eeeeee; text-decoration: none;" href="tel:">{{ $.Site.Params.telephone_number }}</a><br>
<a style="color: #eeeeee; text-decoration: none;"  href="https://www.google.co.uk/maps/place/The+Horns/@51.6601103,-0.4058977,17z/data=!3m1!4b1!4m5!3m4!1s0x48766ac01ddc5d4f:0xa27057567825a6a7!8m2!3d51.660128!4d-0.4037473">{{ $.Site.Params.location_address }}</a><br>

<div style="background-image: linear-gradient(to right, transparent, #4f46e5, transparent);margin:15px 0;height:2px;position:relative">
  <!-- Additional trick: We can add Unicode characters as-is in HTML to render them.-->
</div>

