{{ define "sidebar-prefooter" }}
<section class="section section-sm">
 
    <div class="row justify-content-center text-center mt-lg-3 bg-dark">

      
          {{- $image := resources.GetMatch "limehouselizzy-large-1280x964.png" -}}
          {{ $resizeimage := $image.Fill "1200x500 TopRight"}}
          <img src="{{ $resizeimage.Permalink }}" alt="{{$resizeimage}}">
        
        <div class="headerfont" style="position: absolute;
        z-index: 100;
        color: white;
        text-align: center;
        margin-top: calc(21% - 1.5vmin);">
          <h1>{{ .Title }}</h1>
          <h3>The best live music venue in Watford</h3>
          <span style="color: white; font-size: 5rem;"><sup>♬</sup>♬<sub>♩</sub><sub>♩</sub><sup>♩</sup><sup>♬</sup></span>
        </div>
      </div>


  <div class="row justify-content-center text-center mt-lg-3 bg-dark">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id tempora ducimus error temporibus alias adipisci voluptatem natus cum numquam velit!
  </div>
  <div class="row justify-content-center text-center mt-lg-3">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id tempora ducimus error temporibus alias adipisci voluptatem natus cum numquam velit!
  </div>




    <div class="row justify-content-center text-center mt-lg-3">
      <div class="col-lg-5">
        <h2 class="h4">Full text search</h2>
        <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Page layouts</h2>
        <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Dark mode</h2>
        <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}